/* styles.css */

.body{
  padding: 0;
  margin: 0;
  }
.navbar {
    background-color: #f8f9fa; 
  }
  
  .navbar-nav .nav-item .nav-link {
    color: #d80000; 
    color: #000000;
        background-color: transparent;
        border-radius: 0;
        font-size: 17px;
        font-family: 'popins',sans-serif;
}
  
  .navbar-nav .nav-item .nav-link:hover {
    color: #ff0004; 
  }
  
  .navbar-brand img {
    width: 10vw;
  }
  
  .navbar-brand:hover {
    color: #0056b3;
  }
  .sr-only{
    color: #ff0004;
  }
  .card-footer{
  
    background-color: #0056b3;
    color: #ffffff;
  }
  .card-footer:hover{
    background-color: #ff0004;
  }

  .btn1:hover{
    background-color:#0056b3;
    color: #f8f9fa;
  }
  .btn1{
    background-color: #d80000;
  

   margin-left: 586px;
  margin-top:-96px; 
  } 
  
  .sec2{
    background-image: url(Images/about-home-bg.webp)
  }
  #img4{
    width: 28rem;
  }
  #h4-color{
    color: #0052a1;
    line-height: 2rem;
  }
  #h3-color{
    color:#ed1b24;
    line-height: 2.5rem;
  }
  
  
  @media screen and (max-width: 576px) {
    
    #img4{
      width: 23rem;
    }
  
  }
  
  @media screen and (max-width: 768px){
   
    #img4{
      width: 24rem;
    }
  
  } 
.list-inline{
  padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
ul.list-inline {
  padding-left: 0;
  margin-left: 0;
  list-style: none;
}

ul.social-media-icons li {
  display: inline-block;
  margin-right: 10px; /* Adjust margin as needed */
}

ul.social-media-icons li a img {
  width: 24px;  /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
}  
#navbarNav{
  justify-content: end;
}
#navbarNav li a{
  color: black;
  font-size: 1.2rem;
  padding-left: 1.5vw; padding-right: 1.5vw;
}
#navbarNav li a:hover{
  transition: all .5s ease;
  text-decoration: underline;
  color: red;
}
.img1{
  width: 9rem;
}
#header{
  margin-left: 11.3vw; margin-right: 11.3vw;
}
nav{
  box-shadow: 0px 1px 30px;
}
#row1bg{
    background-color: #f2e4cf;
}
#img-inside{
  width: 18rem;
  padding-top: 2rem;
  align-self: center;
}
#btn1{
  background-color: #0052a1;
}
#icename{
  background-color: #0052a1;
}
#icename:hover{
  background-color: #ed1b24;
  transition: all .5s ease;
}
#viewbtn{
  background-color: #ed1b24;
}
#viewbtn:hover{
  transition: all .5s ease;
  background-color: #0052a1;
}
.sec1{
  padding: 120px 0px;
}
.sec2{
  background-image: url(Images/about-home-bg.webp)
}
#img4{
  width: 28rem;
}
#h4-color{
  color: #0052a1;
  line-height: 2rem;
}
#h3-color{
  color:#ed1b24;
  line-height: 2.5rem;
}


@media screen and (max-width: 576px) {
  
  #img4{
    width: 23rem;
  }

}

@media screen and (max-width: 768px){
 
  #img4{
    width: 24rem;
  }

}

